<span
    class="bg-[#9A463D] min-[999px]:text-sm min-[999px]:font-medium border-2
    text-xs
    px-2 py-1 rounded-full hover:scale-105 w-full
    hover:shadow-2xl transition-transform duration-300 ease-in-out whitespace-nowrap overflow:hidden text-overflow:ellipsis;"
>
    <slot />
</span>