<span
    class="bg-slate-700 text-sm font-medium me-2
    px-3 py-1 rounded-full hover:scale-105 w-full
    hover:shadow-2xl transition-transform duration-300 ease-in-out whitespace-nowrap overflow:hidden text-overflow:ellipsis;"
>
    <slot />
</span> 