---
interface Props {
    title: string;
    description: string;
    date: string;
    link: string;
}
const { title, description, date } = Astro.props;

//Remember to add the href to the official website
---

<div
    class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
>
</div>
<time
    class="mb-1 text-sm font-semibold leading-none text-secondary text-gray-200/90"
    >{date}</time
>
<h3 class="mb-1 text-lg font-semibold text-blue-300/90 mt-2">
    {title}
</h3>
<p
    class="mb-4 text-base font-normal text-gray-200 text-pretty"
>
    {description}
</p>