---
import Java from '../stackIcons/Java.astro';
import JavaScript from '../stackIcons/JavaScript.astro';
import C from '../stackIcons/C.astro';
import CPlusPlus from '../stackIcons/CPlusPlus.astro';
import Haskel from '../stackIcons/Haskel.astro';
import Ruby from '../stackIcons/Ruby.astro';
import HTML5 from '../stackIcons/HTML5.astro';
import CSS from '../stackIcons/CSS.astro';
import Scala from '../stackIcons/Scala.astro';
import TypeScript from '../stackIcons/TypeScript.astro';
import SQLServer from '../stackIcons/SQLServer.astro';
import MySQL from '../stackIcons/MySQL.astro';
import TailwindCSS from '../stackIcons/TailwindCSS.astro';
import NPM from '../stackIcons/NPM.astro';
import Heroku from '../stackIcons/Heroku.astro';
import Git from '../stackIcons/Git.astro';
import AstroIcon from '../stackIcons/Astro.astro';
import Boostrap from '../stackIcons/Boostrap.astro';
import Spark from '../stackIcons/Spark.astro';
import Maven from '../stackIcons/Maven.astro';
import Prolog from '../stackIcons/Prolog.astro';
import Hibernate from '../stackIcons/Hibernate.astro';
import Netlify from '../stackIcons/Netlify.astro';
import Junit from '../stackIcons/Junit.astro';
import Vercel from '../stackIcons/Vercel.astro';
---

<section class="bg-transparent">
    <div class="py-4 lg:py-6 mx-auto max-w-screen-xl px-1">
        <div class="grid grid-cols-2 gap-1 sm:grid-cols-4">
            <div class="order-1 row-span-2">
                <h2 class="text-amber-400 text-center mb-2 font-semibold">
                    Front End
                </h2>
                <div class="flex flex-col flex-wrap gap-y-3">
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <JavaScript class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">JavaScript</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <HTML5 class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">HTML5</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <CSS class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">CSS</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <TailwindCSS class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Tailwind CSS</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <TypeScript class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">TypeScript</h2>  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Boostrap class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Boostrap</h2>                                  
                    </a>
                </div>
            </div>
            <div class="order-2 row-span-2">
                <h2 class="text-amber-400 text-center mb-2 font-semibold">
                    Back End
                </h2>
                <div class="flex flex-col flex-wrap gap-y-3">
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Java class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Java</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Ruby class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Ruby</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Scala class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Scala</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <CPlusPlus class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">C++</h2>                                  
                    </a>      
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Haskel class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Haskell</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <C class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">C</h2>                                  
                    </a>
                </div>
            </div>
            <div class="order-3 row-span-2">
                <h2 class="text-amber-400 text-center mb-2 font-semibold">
                    Data Base
                </h2>
                <div class="flex flex-col flex-wrap gap-y-3">
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <SQLServer class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">SQL Server</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <MySQL class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">MySQL</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Prolog class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Prolog</h2>                                  
                    </a>
                </div>
                <h2 class="text-amber-400 text-center mb-2 my-2 font-semibold">
                    Hosting
                </h2>
                <div class="flex flex-col flex-wrap gap-y-3">
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Vercel class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Vercel</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Netlify class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Netlify</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Heroku class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Heroku</h2>                                  
                    </a>
                </div>
            </div>
            <div class="order-3 row-span-2">
                <h2 class="text-amber-400 text-center mb-2 font-semibold">
                    Others
                </h2>
                <div class="flex flex-col flex-wrap gap-y-3">
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <NPM class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">NPM</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Git class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Git</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <AstroIcon class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Astro</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Spark class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Spark</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Maven class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Maven</h2>                                  
                    </a>
                    <a class="mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Hibernate class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Hibernate</h2>                                  
                    </a>
                    <a class="last:mb-0 mb-4 justify-center items-center hover:scale-110 transition-transform duration-300 ease-in-out text-xs md:text-base">
                        <Junit class="block m-auto size-8 lg:size-10" />   
                        <h2 class="text-center font-semibold">Junit</h2>                                  
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

